.code {
    position: fixed;
    width: 60%;
    height: 70%;
    background: black;
    right: 0%;
    bottom: 0%;
}

.input {
    position: fixed;
    width: 40%;
    height: 30%;
    background: black;
    left: 0%;
    top: 0%;
}

.output {
    position: fixed;
    width: 60%;
    height: 30%;
    background: black;
    right: 0%;
    top: 0%;
}

.log {
    position: fixed;
    width: 40%;
    height: 60%;
    background: black;
    left: 0%;
    bottom: 0%;
}

.menu {
    position: fixed;
    width: 40%;
    height: 10%;
    background: black;
    left: 0%;
    top: 30%;
}

.max {
    width: 100%;
    height: 100%;
}

.bigfont {
    color: white;
    background-color: black;
    font-size: 8vh;
}

.button {
    height: 10%;
    width: auto;
}